<html>
    <head>
        <!-- title here is in EJS syntax from server -->
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <!-- body here is in EJS syntax passed from server -->
        <%= body %>
        <script src="/js/index.js"></script>
    </body>
</html>